/* ------------------------ Tiles Image References ------------------------- */
#hero_paris {
  background-image: url("../img/town-paris.jpg");
}

#hero_prague {
  background-image: url("../img/town-prague.jpg");
}

#hero_seoul {
  background-image: url("../img/town-seoul.jpg");
}

#hero_venice {
  background-image: url("../img/town-venice.jpg");
}