@import url(hero_tiles.css);

/* ----------------------------- Hero Section ------------------------------ */
#main_hero {
	position: relative;
	height: 100vh;

	background-color: aquamarine;
}

.hero_tile {
	z-index: 1;

	position: relative;
	width: 25%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	transition: .2s;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero_tile:hover {
	width: 60vw;
}

.hero_active {
	width: 50vw;
}

/* -------------------------------- Tiles ---------------------------------- */
.hero_tile > * {
	width: 35vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hero_tile::after {
	z-index: -1;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10rem;

	content: '';
	transition: .2s;

	opacity: 0;
	background-color: black;
}

.hero_active::after {
	opacity: .6;
}

.hero_tile > h1 {
	position: absolute;

	transition: .2s;
	text-transform: uppercase;

	font-size: 2.6rem;
	font-weight: 800;
}

.hero_tile > h2 {
	position: absolute;

	transform: translateY(2.4rem);

	color: var(--bright-colorful);

	font-size: 2rem;
	font-weight: 800;
}

.title_deal {
	position: absolute;
	width: auto;
	padding: .5rem;

	transform: translateY(-3rem);
	text-transform: uppercase;

	color: var(--bright);

	font-size: 1.6rem;
	font-weight: 500;
}

.hero_tile > p {
	position: absolute;
	bottom: 5rem;

	transition: .2s;
	text-align: justify;

	opacity: 0;
	color: var(--bright);

	font-weight: 500;
}

.hero_tile > ul {
	position: absolute;
	bottom: 1rem;
	width: 35vw;

	justify-content: space-between;

	transition: .2s;

	opacity: 0;
	color: var(--bright);

	font-size: .9rem;
	font-weight: 600;
}

.hero_tile > ul > li > a {
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--bright);
}

.hero_tile > ul > li > a::before {
	position: absolute;
	bottom: -.1rem;
	width: 0;
	height: 2px;

	content: '';
	transition: .2s;

	opacity: 0;
	background-color: var(--bright);
}

.hero_tile > ul > li > a:hover::before {
	width: calc(100%);

	opacity: 1;
}

.hero_active > p,
.hero_active > ul {
	opacity: 1;
}
