nav {
	z-index: 100;

	position: absolute;
	width: 100%;
	height: 5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	transition: .2s;

	background-color: rgba(0, 0, 0, .6);

	#nav-list,
	.nav-link,
	.nav-link > a {
		height: 100%;
	}

	#nav-logo {
		width: 180px;
		margin-left: 5rem;

		shape-rendering: auto;
	}

	#nav-list {
		gap: 1rem;

		.nav-link > a {
			position: relative;
			padding: 0 2rem;

			letter-spacing: .2pt;

			color: var(--bright);

			font-size: 12pt;
			font-weight: 500;

			&::before {
				position: absolute;
				bottom: 25px;
				width: 0;
				height: 2px;

				content: '';
				transition: .2s;

				opacity: 0;
				background-color: var(--bright);
			}

			&:hover::before {
				width: calc(100% - 3.5rem);

				opacity: 1;
			}
		}
	}
}
