@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(./elements.css);

/* ----------------------------- Hero Section ------------------------------ */
#hero {
  position: relative;
  height: 100vh;
}

.hero_tile {
  position: relative;
  overflow: hidden;
  height: 100%;
  flex: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero_active {
  flex: 2;
}

.hero_tile > * {
  position: relative;
  width: calc(((100vw / 5) * 2));
  padding-left: 5rem;
  padding-right: 5rem;
}

.hero_tile > p,
.hero_tile_links {
  opacity: 0;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.6)
}

.hero_active > p,
.hero_active > .hero_tile_links {
  opacity: 1;
}

.hero_tile_links {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  font-size: 0.875rem;
  color: var(--color-most-bright);

  justify-content: space-between;
}

.hero_tile > p {
  padding-top: 2.5rem;
  font-size: 1rem;
}

.hero_tile > h2 {
  padding-bottom: 2.5rem;
  line-height: 2.2rem;

  font-size: 2.25rem;
}

.hero_tile > h1 {
  text-transform: uppercase;
  font-size: 2.5rem;

}

.hero_tile > h1,
.hero_tile > h2,
.title_deal {
  position: relative;
  font-weight: 800;
  transform: translateY(10rem);
}

.hero_active > h1,
.hero_active > h2,
.hero_active > .title_deal {
  transform: translateY(0);
}

.title_deal {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}

/* ----------------------------- Tiles Images ------------------------------ */
#hero_paris {
  background-image: url("../img/town-paris.jpg");
}

#hero_prague {
  background-image: url("../img/town-prague.jpg");
}

#hero_seoul {
  background-image: url("../img/town-seoul.jpg");
}

#hero_venice {
  background-image: url("../img/town-venice.jpg");
}

/* -------------------------------- Tiles ---------------------------------- */
.hero_tile a {
  color: var(--color-most-bright);
}

.hero_tile > h1 > a:hover,
.hero_tile > h2 > a:hover {
  text-decoration: underline;
}

.hero_tile_links > li > a {
  position: relative;
}

.hero_tile_links a::before {
  position: absolute;
  bottom: -0.1rem;
  width: 0;
  height: 2px;
  content: "";
  transition: 0.2s;
  opacity: 0;
  background-color: var(--color-most-bright);
}

.hero_tile_links a:hover::before {
  width: 100%;
  opacity: 1;
}

@media only screen and (max-width: 1600px) {
  .hero_tile > * {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero_tile_links {
    padding-top: 2rem;
    padding-bottom: 1.5rem;

    font-size: 0.85rem;
  }

  .hero_tile > p {
    padding-top: 2rem;
    font-size: 0.875rem;
  }

  .hero_tile > h2 {
    line-height: 2rem;

    font-size: 2rem;
  }

  .hero_tile > h1 {
    font-size: 2.25rem;
  }

  .title_deal {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 80rem) {
  .hero_tile_links {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }
}

/* ---------------------------- About section ------------------------------ */
#about {
  padding-top: 5rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr repeat(4, 22rem) 1fr;
  grid-template-rows: 5rem 28rem 35rem 11rem;

  background-image: url('../img/about-us.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.about_img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#about_heading {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  color: var(--color-dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
  background-color: #fdc6a3;
}

#about > p {
  padding: 0 5rem;
}

#about_intro {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  background-color: #aa543e;

  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: .4pt;

  line-height: 1.875rem;
}

#about_intro_aft {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
  background-image: url('../img/travel-01.jpg');
}

#about_mission {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  background-color: #8B4F42;

  font-weight: 400;
  line-height: 1.6rem;
}

#about_mission_bfr {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-image: url('../img/travel-05.jpg');
}

#about_mission_aft {
  grid-column: 5 / 6;
  grid-row: 3 / 4;
  background-image: url('../img/travel-04.jpg');
}

#about_conclusion {
  grid-column: 4 / 6;
  grid-row: 4 / 5;
  background-color: #503932;

  line-height: 1.6rem;
}

#about_conclusion_bfr {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  background-image: url('../img/travel-02.jpg');
}

@media only screen and (max-width: 1600px) {
  #about {
    padding-top: 4rem;
    grid-template-columns: 1fr repeat(2, 40rem) 1fr;
    grid-template-rows: 4rem 22rem 30rem 22rem;
  }

  #about_heading {
    grid-column: 2 / 4;
    padding-left: 3rem;
  }

  #about > p {
    padding: 0 3rem;
  }

  #about_intro {
    grid-column: 2 / 3;

    font-size: 1rem;
    letter-spacing: .3pt;

    line-height: 1.7rem;
  }

  #about_intro_aft {
    grid-column: 3 / 4;
  }

  #about_mission {
    grid-column: 3 / 4;

    line-height: 1.5rem;
  }

  #about_conclusion {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    line-height: 1.5rem;
  }

  #about_conclusion_bfr {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
}

@media only screen and (max-width: 80rem) {
  #about {
    grid-template-columns: 1fr 1fr;
  }

  #about_heading {
    grid-column: 1 / 3;
  }


  #about_intro {
    grid-column: 1 / 2;
  }

  #about_intro_aft {
    grid-column: 2 / 3;
  }

  #about_mission {
    grid-column: 2 / 3;
  }

  #about_mission_bfr {
    grid-column: 1 / 2;
  }

  #about_conclusion {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    line-height: 1.5rem;
  }

  #about_conclusion_bfr {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}

/* --------------------------- Newsletters Popup --------------------------- */
#newsletters_container {
  z-index: 1000;

  display: none;

  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#newsletters {
  height: 28rem;
  width: 50rem;
  background-color: #D07057;
}

#newsletters_content_aft {
  width: 20rem;
  height: 100%;
  background-image: url('../img/newsletters.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#newsletters_content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30rem;
  flex-direction: column;
  padding: 0 5rem;
}

#newsletters_content > h1 {
  font-size: 1rem;
  font-weight: 600;
}

#newsletters_content > p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

#newsletters_content > label {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-top: 1rem;
  padding-bottom: .5rem;
}

#newsletters_email {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.875rem;
}

#newsletters_submit,
#newsletters_close {
  /* width: 11.5rem; */
  height: 2.5rem;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--color-dark);
  background-color: var(--color-most-bright);
  gap: 1rem;
}

#newsletters_submit {
  flex: 2;
  margin-right: 0.875rem;
}

#newsletters_close {
  flex: 1;
}

#newsletters_submit:hover,
#newsletters_close:hover {
  background-color: var(--color-less-bright);
}

#newsletters_submit:active,
#newsletters_close:active {
  background-color: var(--color-bright);
}

#newsletters_buttons {
  width: 100%;
}

/* ---------------------------- Contact section ---------------------------- */
#contact_container {
  height: 100vh;
  width: 100%;

  background-image: url('../img/contact-us.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 30rem 46rem 1fr;
  grid-template-rows: 5rem auto;
}

#contact_heading {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  color: var(--color-dark);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5rem;
  background-color: #fdc6a3;
}

#contact_labels,
#contact_inputs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#contact_labels {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #865536;

  align-items: flex-end;
}

#contact_labels > label,
#contact_inputs > input,
#contact_message {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

#contact_labels > label,
#contact_name,
#contact_email {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  height: 2.5rem;
  margin-bottom: 1.125rem;
}

#contact_name,
#contact_email {
  width: 22rem;
  padding-left: .5rem;
}

#contact_inputs {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #D07057;

  align-items: flex-start;
}

#contact_message {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  margin-bottom: 2rem;
  height: 10rem;
  width: 41rem;
  resize: none;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: .5rem;
}

#contact_submit {
  width: 14rem;
  height: 2.5rem;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--color-dark);
  background-color: var(--color-most-bright);
}

#contact_submit:hover {
  background-color: var(--color-less-bright);
}

#contact_submit:active {
  background-color: var(--color-bright);
}

@media only screen and (max-width: 1600px) {
  #contact {
    display: grid;
    grid-template-columns: 1fr 18rem 44rem 1fr;
    grid-template-rows: 4rem auto;
  }

  #contact_heading {
    padding-left: 3rem;
  }

  #contact_labels > label,
  #contact_name,
  #contact_email,
  #contact_message,
  #contact_submit {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 80rem) {
  #contact {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 4rem 4rem auto;
    width: calc(100% - 4rem);
  }

  #contact_heading {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  #contact_labels {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #contact_inputs {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
}

/* ---------------------------- Country Section ---------------------------- */
.country_bunner {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background-image: url('../img/banner-South-Korea-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-attachment: fixed;
}

.country_bunner::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #312C26;
}

.country_bunner > ul {
  z-index: 10;
  width: 100%;
}

.country_town {
  position: relative;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.country_town::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
}

.country_town:hover::before {
  opacity: .7;
}

.country_town > a {
  position: relative;
  z-index: 10;
  height: 16.5rem;
  width: 100%;
  color: var(--color-most-bright);
  font-size: 2.625rem;
  font-weight: 800;
}

.country_bunner > p {
  z-index: 10;
  margin-bottom: 6rem;
  margin-top: 2rem;
  margin-left: 5rem;
  width: 29rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.country_bunner > h1 {
  font-weight: 800;
  font-size: 2.625rem;
  z-index: 10;
  margin-left: 5rem;
}

.country_content {
  display: grid;
  grid-template-columns: 1fr 42rem 42rem 1fr;
  grid-template-rows: auto 42rem;
}

.country_clip {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  width: 100%;
}

.country_content > p {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #740C44;
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 1.5rem;
}

#country_content_aft {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-image: url('../img/info-South-Korea.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#town_seoul {
  background-image: url('../img/link-Seoul.jpg');
}

#town_seoul::before {
  background-color: #571300;
}

#town_busan {
  background-image: url('../img/link-Busan.jpg');
}

#town_busan::before {
  background-color: #501464;
}

#town_daegu {
  background-image: url('../img/link-Daegu.jpg');
}

#town_daegu::before {
  background-color: #008B94;
}

@media only screen and (max-width: 1600px) {
  .country_town > a {
    font-size: 2.25rem;
    font-weight: 800;
  }

  .country_bunner > p {
    margin-bottom: 3rem;
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 0.875rem;
  }

  .country_bunner > h1 {
    font-size: 2.25rem;
    margin-left: 3rem;
  }

  .country_content {
    grid-template-columns: 1fr 36rem 36rem 1fr;
    grid-template-rows: auto 36rem;
  }

  .country_content > p {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 80rem) {
  .country_content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .country_clip {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .country_content > p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #country_content_aft {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

/* ------------------------------ Town Section ----------------------------- */
.town_bunner {
  position: relative;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  background-image: url('../img/banner-Seoul-1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-attachment: fixed;
}

.town_bunner::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .6;
  background-color: #161616;
}

.town_pictures {
  width: 100%;
  height: auto;
}

.town_pictures > li {
  z-index: 10;
  position: relative;
  flex: 1;
  overflow: hidden;
}

.town_pictures > li > img {
  width: 100%;
  height: auto;
}

.town_pictures > li::before {
  z-index: 100;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: #754200;
}

.town_pictures > li:hover::before {
  opacity: 0;
}

.town_links {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 5rem;
}

.town_links a {
  position: relative;
  color: var(--color-most-bright);
  font-weight: 500;
}

.town_links a::before {
  position: absolute;
  bottom: -0.1rem;
  width: 0;
  height: 2px;
  content: "";
  transition: 0.2s;
  opacity: 0;
  background-color: var(--color-most-bright);
}

.town_links a:hover::before {
  width: 100%;
  opacity: 1;
}

.town_bunner > p {
  z-index: 100;
  margin-top: 2rem;
  margin-left: 5rem;
  width: 29rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.town_bunner > h1 {
  font-weight: 800;
  font-size: 2.625rem;
  z-index: 10;
  margin-left: 5rem;
  margin-top: 40vh;
}

.town_title_deal {
  position: absolute;
  z-index: 100;
  margin-left: 5rem;
  top: calc(40vh - 3rem);

  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
}

.town_content {
  display: grid;
  grid-template-columns: 1fr 42rem 42rem 1fr;
  grid-template-rows: auto 22rem 44rem 22rem 44rem;
  grid-template-areas:
    ".  clip clip  ."
    ".  p1 img1  ."
    ".  img2 p2  ."
    ".  p3 img3  ."
    ".  img4 p4  .";
}

.town_clip {
  grid-area: clip;
  width: 100%;
}

.town_content > p {
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 1.375rem;
  font-weight: 500;
}

.town_content > p:nth-of-type(1),
.town_content > p:nth-of-type(3) {
  color: var(--color-dark);
}

.town_content > p:nth-of-type(2),
.town_content > p:nth-of-type(4) {
  color: var(--color-most-bright);
}

.town_content > p:nth-of-type(1) {
  grid-area: p1;
  background-color: #e4c6be;
}

.town_content > p:nth-of-type(2) {
  grid-area: p2;
  background-color: #D07057;
}

.town_content > p:nth-of-type(3) {
  grid-area: p3;
  background-color: #cf9e9e;
}

.town_content > p:nth-of-type(4) {
  grid-area: p4;
  background-color: #692e24;
}

#town_picture_1 {
  grid-area: img1;

  background-image: url('../img/info-Seoul-6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#town_picture_2 {
  grid-area: img2;

  background-image: url('../img/town-Seoul.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#town_picture_3 {
  grid-area: img3;

  background-image: url('../img/info-Seoul-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#town_picture_4 {
  grid-area: img4;

  background-image: url('../img/info-Seoul-9.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1600px) {
  .town_links {
    padding: 2.5rem 3rem;
  }

  .town_links a {
    position: relative;
    font-size: 0.875rem;
  }

  .town_bunner > p {
    margin-top: 1rem;
    margin-left: 3rem;
    font-size: 0.875rem;
  }

  .town_bunner > h1 {
    font-size: 2.25rem;
    margin-left: 3rem;
  }

  .town_title_deal {
    margin-left: 3rem;
    top: calc(40vh - 2rem);

    font-size: 1.2rem;
  }

  .town_content {
    grid-template-columns: 1fr 36rem 36rem 1fr;
    grid-template-rows: auto 22rem 44rem 22rem 22rem;
  }

  .town_content > p {
    font-size: 0.875rem;
  }

  .town_pictures > li::before {
    opacity: 0;
  }
}

@media only screen and (max-width: 80rem) {
  .town_content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 22rem 44rem 22rem 22rem;
    grid-template-areas:
      "clip clip"
      "p1 img1"
      "img2 p2"
      "p3 img3"
      "img4 p4";
  }

  .country_clip {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .country_content > p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #country_content_aft {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

/* ------------------------------ Info Section ----------------------------- */
.info_bunner {
  position: relative;
  height: 21.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
}

.info_bunner::before {
  z-index: 1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .4;
}

#info_bunner_poi {
  background-image: url('../img/banner-Seoul-2.jpg');
}

#info_bunner_poi::before {
  background-color: #533200;
}

#info_bunner_accommodation {
  background-image: url('../img/banner-Seoul-3.jpg');
}

#info_bunner_accommodation::before {
  background-color: #0d4e16;
}

#info_bunner_activities {
  background-image: url('../img/banner-Seoul-4.jpg');
}

#info_bunner_activities::before {
  background-color: #4e0d3c;
}

#info_bunner_weather {
  background-image: url('../img/banner-Seoul-5.jpg');
}

#info_bunner_weather::before {
  background-color: #0a3947;
}

.info_bunner > h2 {
  z-index: 10;
  font-weight: 700;
  font-size: 1.625rem;
  z-index: 10;
  margin-left: 5rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.info_bunner > h1 {
  z-index: 10;
  font-weight: 800;
  font-size: 2.625rem;
  z-index: 10;
  margin-left: 5rem;
}

.info_tile {
  flex-direction: column;
}

.info_tile > * {
  width: 84rem;
}

.info_tile article {
  overflow: hidden;
}

.info_tile > article:nth-of-type(1) {
  background-color: #f5cfb5;
}

.info_tile > article:nth-of-type(2) {
  background-color: #f8beb0;
}

.info_tile > article:nth-of-type(3) {
  background-color: #f5ddb8;
}

.info_tile > article:nth-of-type(4) {
  background-color: #ffc6a6;
}

#info_activities > article:nth-of-type(2) {
  height: 21.25rem;
  flex-direction: row;
}

#info_activities > article:nth-of-type(2) section:nth-of-type(1) {
  background-color: #D05757;
  flex: 1;
}

#info_activities > article:nth-of-type(2) section:nth-of-type(2) {
  background-color: #FED5AC;
  flex: 1;
}

.info_tile header,
.info_tile p,
.info_tile a {
  margin-left: 5rem;
  margin-right: 5rem;
  color: var(--color-dark);
}

.info_tile header {
  font-size: 1.125rem;
  font-weight: 600;
}

.info_tile p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  line-height: 1.375rem;

}

.info_tile a {
  font-weight: 400;
}

.info_tile a:hover {
  text-decoration: underline;
}

.info_tile aside {
  background-color: #e0ba6c;
  color: var(--color-dark);
  padding: 5rem 10rem;
  line-height: 1.375rem;
}

#info_accommodation article:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 21rem 21rem;
}

#info_accommodation article:nth-of-type(1) * {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

#info_accommodation article:nth-of-type(1) section:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #ffd390;
  height: 100%;
}

#info_accommodation article:nth-of-type(1) section:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #ffc285;
  height: 100%;
}

#info_accommodation article:nth-of-type(1) img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

#info_accommodation article:nth-of-type(2) {
  height: 21rem;
  flex-direction: row-reverse;
}


.info_tile > article:nth-of-type(even) {
  flex-direction: row-reverse;
}

#info_activities article:nth-of-type(2) * {
  height: 33.75rem;
}

#info_activities article:nth-of-type(2) section:nth-of-type(1) p {
  color: var(--color-most-bright);
}

@media only screen and (max-width: 1600px) {
  .info_bunner > h2 {
    font-size: 1.2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    margin-top: .8rem;
  }

  .info_bunner > h1 {
    font-size: 2.2rem;
    margin-left: 3rem;
  }

  .info_tile > * {
    width: 72rem;
  }

  .info_bunner p {
    font-size: 0.875rem;
  }

  .town_content {
    grid-template-columns: 1fr 36rem 36rem 1fr;
    grid-template-rows: auto 22rem 44rem 22rem 22rem;
  }


  .town_pictures > li::before {
    opacity: 0;
  }
}

@media only screen and (max-width: 80rem) {
  .town_content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 22rem 44rem 22rem 22rem;
    grid-template-areas:
      "clip clip"
      "p1 img1"
      "img2 p2"
      "p3 img3"
      "img4 p4";
  }

  .country_clip {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .country_content > p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  #country_content_aft {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}