@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(nav.css);
@import url(hero.css);

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	list-style-type: none;

	box-shadow: none;

	--bright: #fff4e3;
	--bright-colorful: #ffeed5;
}
body {
	color: var(--bright);

	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
}

/* List of elements with flex centered */
#nav-list, .nav-link > a, #main_hero {
	display: flex;
	justify-content: center;
	align-items: center;
}
